@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
	font-weight: 400;
	letter-spacing: 1px;
	color: var(--text);
	user-select: none;
}

:root {
	--brand: #573bff;
	--brand-transparent: #eeedfd;
	--primary: #f7f8fa;
	--secondary: #fff;
	--text: #2a3256;
	--sub: #808080;
	--paper: rgb(255, 255, 255);

	/* Colors */
	--danger: #ff4b54;
	--warning: #ff8f00;
	--success: #33d69f;

	/* Utils */
	--simple-boxshadow: 0 0 10px 0px rgb(0 0 0 / 30%);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--brand);
}

*::-webkit-scrollbar-track {
	background-color: #444;
}

*::-webkit-scrollbar {
	width: 9px;
}

*:focus {
	outline: none;
}

input {
	font-family: "Poppins", sans-serif;
	letter-spacing: 1px;
}

/* Layout */
.wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: var(--primary);
	color: var(--text);
	transition: background-color .3s ease;
	overflow-y: auto;
	overflow-x: hidden;
}

.main {
	position: absolute;
	top: 25px;
	width: calc(100% - 100px);
	padding: 50px;
	padding-bottom: 0px;
}

.grid {
	display: grid;
	grid-column-gap: 25px;
}

._2-grid {
	grid-template-columns: 1fr 1fr;
}

._3-grid {
	grid-template-columns: 1fr 1fr 1fr;
}

._4-grid {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

._5-grid {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

._6-grid {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

._7-grid {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

._2-1-grid {
	grid-template-columns: 2fr 1fr;
}

._3-1-grid {
	grid-template-columns: 3fr 1fr;
}

._1-2-grid {
	grid-template-columns: 1fr 2fr;
}

._1-3-grid {
	grid-template-columns: 1fr 3fr;
}

.flex {
	display: flex;
}

.flex .button:first-child {
	margin-right: 15px;;
}

select {
	background: transparent;
	color: var(--text);
	padding: 5px 10px;
	border-radius: 5px;
}

select.template {
	margin-right: 10px;
	cursor: pointer;
}

.template-select-container .MuiSvgIcon-root {
	font-size: 20px;
	position: relative;
	top: -2px;
}

.template-select-container {
	align-items: center;
	margin-bottom: 15px;
}

option {
	background: var(--secondary);
	border: none;
}

.template-select {
	margin-bottom: 5px;
	font-size: 16px;
}

/* Navbar */
.navbar {
	background: var(--secondary);
	box-shadow: var(--simple-boxshadow);
	padding: 10px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: calc(100vw - 100px);
	z-index: 999;
}

.navbar .MuiSvgIcon-root {
	margin-right: 15px;
}

.navbar .icon-div {
	padding-top: 5px;
}

.navbar .MuiSvgIcon-root:last-child {
	margin-right: 0px;
}

/* Material Icons */
.MuiSvgIcon-root {
	cursor: pointer;
	transition: color .3s ease !important;
}

.MuiSvgIcon-root:hover {
	color: var(--brand);
}

.MuiSvgIcon-root.success,
.MuiSvgIcon-root.danger {
	transition: background .3s ease !important;
}

.MuiSvgIcon-root.success:hover {
	background: var(--success);
}

.MuiSvgIcon-root.danger:hover {
	background: var(--danger);
}

/* Card */

.card,
.card-table {
	padding: 15px;
	background: var(--secondary);
	box-shadow: var(--simple-boxshadow);
	transition: background-color .3s ease;
	margin-bottom: 25px;
}

.card .title {
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.table-head {
	color: var(--sub);
	margin-bottom: 15px;
}

.table-row {
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	align-items: center;
}

.table-row:last-child {
	border-bottom: none !important;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

.table-row .MuiSvgIcon-root  {
	background: var(--brand);
	padding: 5px;
	border-radius: 5px;
	color: #fff;
}

.label.center {
	text-align: center;
}

.table-row .center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.card-table .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.card-table .head input {
	background: transparent;
	border: none;
	color: var(--text);
	font-size: 1rem;
}

.card-table .head .title {
	font-size: 1.2rem;
	font-weight: 400;
}

.card input[type="number"] {
	background: transparent;
	border: none;
	color: var(--text);
}

.card input[type="number"]::-webkit-outer-spin-button,
.card input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Buttons */
.button {
	color: #fff;
	padding: 10px 15px;
	background: var(--brand);
	cursor: pointer;
	width: fit-content;
	transition: color .3s ease, background .3s ease;
}

.button:hover {
	background: #fff;
	color: var(--brand);
}

/* Modal */
.modal {
	width: 350px;
	background: var(--secondary);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: var(--simple-boxshadow);
	padding: 15px;
}

.modal .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.modal .body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal .body input {
	width: calc(100% - 30px);
	margin-bottom: 15px;
	background: transparent;
	border: none;
	color: var(--text);
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: border .3s ease;
}

.modal .body input:focus {
	border: 1px solid var(--brand) !important;
}