:root {
	--dark-primary: #12141d;
	--dark-secondary: #20222e;
	--dark-text: #f1f1f1;
	--dark-paper: #fff;
}

.dark.wrapper {
    background-color: var(--dark-primary);
	color: var(--dark-text);
}

.dark .card,
.dark .navbar,
.dark .card-table {
    background: var(--dark-secondary);
}

.dark .card .card-head,
.dark .card-table .head {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.dark .table-row {
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.dark .card-table .head input {
	color: var(--dark-text);
}

.dark .card input[type="number"] {
	color: var(--dark-text);
}

.dark .MuiSvgIcon-root.success:hover {
	color: var(--dark-text);
}

.dark .MuiSvgIcon-root.danger:hover {
	color: var(--dark-text);
}

.dark .tags-modal {
	background: var(--dark-secondary);
}


.dark .tags-container {
	background: var(--dark-paper);
}

.dark select {
	color: var(--dark-text);
}

.dark option {
	background: var(--dark-secondary);
}

.dark .modal {
	background: var(--dark-secondary);
}

.dark .modal .body input,
.dark .modal .body select {
	color: var(--dark-text);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .title-bar {
	background: var(--dark-primary);
	color: #6e6d6d;
}

.dark .title-bar .buttons .btn-container:hover {
	background: var(--dark-secondary);
}

.dark .title-bar .buttons .btn-container.close:hover {
	background: var(--danger);
}

.dark .modal .separator {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}