.tags-modal {
	height: calc(100vh - 50px);
	background: var(--secondary);
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 999;
	overflow-y: scroll;
	padding: 25px;
	box-shadow: var(--simple-boxshadow);
	right: -25cm;
	transition: right .3s ease;
}

.tags-modal.show {
	right: 0px;
}

.tags-container {
	min-height: 29.8cm;
	width: 21.1cm;
	background: var(--paper);
	left: 50%;
	transform: translateX(-50%);
	position: relative;
}

.tags-modal .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.tags-modal .head .title {
	font-size: 1.4rem;
}

.tags-container .row {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	font-family: "Calibri", sans-serif;
}

.tags-container .tag.extra {
	outline: none;
}

.tags-container .row.gros {
	padding: 1.51cm 0.72cm;
	justify-content: space-between;
}

.tags-container .row.lots {
	padding: 1.07cm .5cm;
	justify-content: space-between;
}

.tags-container .row.bacs {
	padding: 0.85cm 0.55cm;
	justify-content: space-between;
}

.tags-container .tag {
	text-align: center;
	outline: 1px dotted #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.tags-container .tag .label.highlight {
	background: #ffff00;
}

/* Chaines */
.tags-container .tag.chaines {
	width: 5.25cm;
	height: 2.97cm;
}

.tags-container .tag.chaines .ref {
	font-size: 12px;
}

.tags-container .tag.chaines .name {
	font-size: 9px;
}

.tags-container .tag.chaines .label {
	font-size: 10px;
}

/* Gros */
.tags-container .tag.gros {
	width: 6.35cm;
	height: 3.81cm;
}

.tags-container .tag.gros .ref {
	font-size: 12px;
}

.tags-container .tag.gros .name {
	font-size: 9px;
}

.tags-container .tag.gros .label {
	font-size: 10px;
}

/* Lots */
.tags-container .tag.lots {
	width: 3.8cm;
	height: 2.12cm;
}

.tags-container .tag.lots .ref {
	font-size: 12px;
}

.tags-container .tag.lots .name {
	font-size: 9px;
}

.tags-container .tag.lots .label {
	font-size: 10px;
}

/* Bacs */
.tags-container .tag.bacs {
	width: 4.84cm;
	height: 2.54cm;
}

.tags-container .tag.bacs .ref {
	font-size: 12px;
}

.tags-container .tag.bacs .name {
	font-size: 9px;
}

.tags-container .tag.bacs .label {
	font-size: 10px;
}